<po-page-dynamic-table
  #pageCadastroEmpresa
  p-title="Empresa"
  [p-service-api]="url"
  [p-fields]="fields"
  [p-table-custom-actions]="tableActions"
  [p-actions]="actions"
/>

<!-- Modal de detalhes -->
<po-modal #cadastroEmpresaDetailModal [p-title]="descricao">
  <po-dynamic-view
    [p-fields]="cadastroEmpresaFields"
    [p-value]="cadastroEmpresaData"
  />
</po-modal>

<!-- Modal de edição -->
<po-modal #editModal p-title="Editar/Clonar Empresa">
  <po-dynamic-form
    [p-fields]="editFields"
    [p-value]="editData"
    (p-change)="onFormChange($event)">
  </po-dynamic-form>
  <po-modal-footer>
    <po-button p-label="Salvar" type="primary" (p-click)="saveEdit()"></po-button>
    <po-button p-label="Cancelar" type="default" (p-click)="editModalEl.close()"></po-button>
  </po-modal-footer>
</po-modal>
